#content {
	padding: 0 5% 0 5%;
	font-family: Verdana;
	font-size: 14px;
}

#pie {
	width:30%;
	float: left;
}

#boxplot {
	float: left;
	width: 70%;
}

#sun-burst {
	float: left;
	width: 30%;
}

#box-type {
	width:150px;
}