#content {
	padding: 0 5% 0 5%;
	font-family: Verdana;
	font-size: 14px;
}

#pie {
	width:30%;
	float: left;
}

#lang-pie{
	width:30%;
	float: left;
}

#boxplot {
	float: left;
	width: 70%;
}

#sun-burst {
	float: left;
	width: 30%;
}

#box-type {
	width:150px;
    float: top;
    padding: 0 0 0 6%;
}

#lang-type{
	width:175px;
}
